---
# add front matter here
---


// todo:
//   add styles for bullets (steps)



////////////
// notes:
//   minima v2 (variant 2)
//   use display: block/none  to browse slide



* {
  margin: 0;
  padding: 0;
}

.bespoke-parent {
  background-color: silver;
  width:  100%;
  height: 100%;

  font-size: 1.5em;
}


.bespoke-slide {
  background-color: white;
  width: 940px;
  height: 480px;
  margin: auto;    // use to center slide ???
}

.bespoke-active {
  display: block;
}

.bespoke-inactive {
  display: none;
}



////////////////////////////////////
// add progress bar

.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: .3vw;    // todo/check:  what is the vw unit? support by all browsers??
  z-index: 1;
}

.bespoke-progress-bar {
  background-color: #0089f3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 1s ease;
}
