---
# add front matter here
---


// todo:
//   add styles for bullets (steps)


// note: use @media screen
//    lets you print your slides without any formatting (by default)
//    otherwise the print is all messed up


@media screen {

* {
  margin: 0;
  padding: 0;
}

.bespoke-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  background-color: silver;
  font-size: 1.5em;
  // text-align: center;
  // background-position: 50% 50%; -- check -- needed?? why? why not? just for animations?
}


.bespoke-slide {
  $width:  940px;
  $height: 480px;
  position: absolute;
  width:  $width;
  height: $height;
  top: 50%;
  left: 50%;
  margin-left: -($width / 2);
  margin-top: -($height / 2);
  z-index: 1;
  
  background-color: white; 
}

.bespoke-active {
}

.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
}



////////////////////////////////////
// add progress bar

.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: .3vw;
  z-index: 1;
}

.bespoke-progress-bar {
  background-color: #0089f3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 1s ease;
}

} // @media screen 
